*~

pairlist-test

*.o

pairlist-test2

pairlist-test3

*.pyc

pairlist-test2

pairlist-test3
*.data
*.gro
 
*.so

@

*.yap

\.yapviewstack
dist/*
build/*
PairList\.egg-info/

dist/
.eggs/

*.txt
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
Pipfile.lock
