[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pairlist = {path = "."}

[dev-packages]
twine = "*"
jinja2 = "*"
networkx = "*"
genice2 = "*"

[requires]
python_version = "3.9"
